main {
  background: blue;
  margin: 0;
  padding: 0;
  width: 8in;
  height: 10in;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

/* Experience Section */

.experience {
  background: pink;
  width: 70%;
  padding: 0;
  margin: 0;
}

header {
  background: lightblue
}

.companyAndTitle,
.timeAndLocation, 
header {
  display:flex;
}